{{ define "main" }}
<div id="home-jumbotron" class="jumbotron center">
  <h1 class="title">{{ .Site.Title }}</h1>
  <div class="centered">


    <nav id="nav" class="nav justify-content-center">
      {{ range .Site.Menus.main }}
      <a class="nav-link" href="{{ .URL }}">
        {{ if .Pre }}
        {{ $icon := printf "<i data-feather=\"%s\"></i> " .Pre | safeHTML }}
        {{ $icon }}
        {{ end }}
        {{ $text := print .Name | safeHTML }}
        {{ $text }}
      </a>
      {{ end }}
    </nav>
  </div>
</div>

{{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
{{ range $pages.GroupByPublishDate "2006-01" }}
<h2 class="archive-year" id="{{.Key | urlize}}">{{.Key}}</h2>
{{ range sort .Pages "PublishDate" "asc" }}
<p>
  <a href="{{.Permalink}}">{{.Title}}</a>: {{.Summary}}
</p>
{{end}}
{{end}}

{{ end }}