* {
    font-family: Helvetica, Sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 150%;
    text-indent: 0em;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
}

body {
    background-color: #ffffff;
    color: #000000;
    margin: auto;
    margin-top: 3em;
    max-width: 850px;
}


sup {
    font-size: 0.75rem;
}

sub {
    font-size: 0.75rem;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
    text-indent: 0em;
    text-align: justify;
}

smalltext {
    font-size: 0.75rem;
}

p.smaller {
    font-size: 0.75rem;
}

b {
    font-weight: bold;
}

a:link {
    text-decoration: none;
    color: #0000aa;
}

a:visited {
    text-decoration: none;
    color: #007733;
}

a:active {
    text-decoration: none;
    color: #0000aa;
}

a:hover {
    text-decoration: none;
    color: #aa0000;
}

blockquote {
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    color: #880000;
}

pre,
code {
    line-height: 120%;
    font-family: Courier, monospace;
    font-size: 0.85rem;
}

h1 {
    text-align: center;
    line-height: 125%;
    letter-spacing: 0.1em;
    font-size: 1.5rem;
    margin-top: 15px;
    margin-bottom: 15px;
}

h2 {
    font-weight: bold;
    margin-top: 4em;
}


h3 {
    text-decoration: underline;
}

h4 {
    text-decoration: underline dotted
}

h5 {
    font-style: italic
}

form {
    margin: 0px;
    padding: 0px;
}

img {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.centered {
    text-align: center;
}

.jumbotron {
    background-color: #eee;
    padding: 1em;
    border: 5px solid #ddd;
}

a.summary {
    color: black;
}